.imagemLogin{
    background-image: url(https://ik.imagekit.io/6kg1q0s1r/lastdance.gif?updatedAt=1682708952528);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}

.texto {
    font-weight: bold !important;
}